.edit-header {
  background-color: #000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.edit {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 10px;
}

.edit img {
  width: 15px;
  height: 15px;
}

.edit p {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 16px;
}

.logout {
  text-decoration: none;
  color: #000;
}

#portfolio .edit-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 90px;
  margin-bottom: 100px;
}

#portfolio .edit-portfolio .edit-project {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  gap: 10px;
}

.edit-project img {
  width: 17px;
  height: 17px;
}

.edit-project a {
  margin: 0;
  text-decoration: none;
  color: #000;
}
