.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s both;
}

.modal-wrapper {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  animation: slideFromTop 0.3s both;
}

.modal-content {
  margin: 0px 90px;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 35px;
  cursor: pointer;
}

.modal-title {
  margin: 30px 0 45px;
  font-family: 'Work Sans';
  font-size: 26px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.modal-gallery {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 10px;
}

.modal-gallery img {
  width: 67px;
}

.modal-delete-icon {
  display: block;
  width: 17px;
  height: 17px;
  position: relative;
  margin-top: -87px;
  margin-right: -55px;
  margin-bottom: 80px;
  margin-left: 20px;
  cursor: pointer;
}

.modal-gallery figcaption {
  display: none;
}

.modal-content hr {
  /* width: 420px; */
  height: 0px;
  border: 1px solid #b3b3b3;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}

.btn-add-project {
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px #1d6154 solid;
  background: #1d6154;
  color: #fff;
  border-radius: 60px;
  height: 36px;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 10px 50px;
  cursor: pointer;
}

.modal[aria-hidden='true'] {
  /* animation-name: fadeOut; */
  animation-direction: reverse;
}

.modal[aria-hidden='true'] .modal-wrapper {
  /* animation-name: slideToBottom; */
  animation-direction: reverse;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

/* @keyframes slideToBottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
} */

/**********Modal Add Project*********/

.modal-add-project {
  display: none;
}

.modal-arrow {
  cursor: pointer;
}

.modal-upload-image-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.modal-upload-image-form label {
  margin-left: 62px;
}

.modal-add-image-form {
  width: 420px;
  height: 170px;
  border-radius: 3px;
  background: #e8f1f7;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px 0 20px;
  cursor: pointer;
}

.modal-add-image-form img {
  display: block;
  margin: auto;
}

.modal-upload-image-form #modal-title-image,
#modal-categories {
  display: flex;
  margin: auto;
  font-family: 'Work Sans';
  color: #3d3d3d;
  font-weight: 500;
  width: 420px;
  height: 50px;
  margin-top: 7px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modal-add-image-form .modal-image-format {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-top: 7px;
}

.modal-add-image-form .modal-add-image-button {
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #cbd6dc solid;
  background: #cbd6dc;
  color: #306685;
  border-radius: 50px;
  width: 175px;
  height: 36px;
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.modal-add-image-form .img-uploaded {
  display: block;
  margin: auto;
  height: 170px;
  width: auto;
}

.modal-add-project hr {
  width: 420px;
  height: 0px;
  border: 1px solid #b3b3b3;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}

.modal-form-confirm-button {
  display: flex;
  align-items: center;
  margin: auto;
  border: 1px #a7a7a7 solid;
  background: #a7a7a7;
  color: #fff;
  border-radius: 60px;
  height: 36px;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 10px 100px;
}
